{{ partial "header.html" . }}

{{if .Params.image}}
  {{if or (eq (substr .Params.image 0 7) "http://") (eq (substr .Params.image 0 8) "https://")}}
  <header class="main-header post-head" style="background-image: url({{.Params.image }})">
  {{ else }}
  <header class="main-header post-head" style="background-image: url({{.Params.image | relURL}})">
  {{ end }}
  <nav class="main-nav overlay clearfix">
{{else}}
<header class="main-header post-head no-cover">
  <nav class="main-nav clearfix">
{{end}}

  {{ if .Site.Params.logo }}
      <a class="blog-logo" href="{{.Site.BaseURL}}"><img src="{{ .Site.Params.logo | relURL}}" alt="Home" /></a>
  {{end}}
  {{ if .Site.Menus.main }}
      <a class="menu-button" href="#"><span class="burger">&#9776;</span><span class="word">Menu</span></a>
  {{else}}
      <a class="menu-button icon-feed" href="{{ "index.xml"| relURL}}" >&nbsp;&nbsp;Subscribe</a>
  {{end}}
  </nav>
</header>



<main class="content" role="main">
  <article class="post {{ .Section }}">
    <header class="post-header">
        <h1 class="post-title">{{.Title}}</h1>
        <small>{{.Description}}</small>
    </header>

    <section class="current-members">
      {{ if $.Site.Data.members.member}}
      <h3>Current members</h3>
      {{ range $.Site.Data.members.member }}
         {{ .name }}
        {{if .linkedin}}
          <a href="https://www.linkedin.com/in/{{.linkedin}}"><img src="../images/in.png"/></a>
        {{ end }}
        {{if .researchgate}}
          <a href="https://www.researchgate.net/profile/{{.researchgate}}"><img src="../images/rg.png"/></a>
        {{ end }}
        {{if .chalmers}}
          <a href="https://www.chalmers.se/en/Staff/Pages/{{.chalmers}}.aspx"><img src="../images/chalmers_min.png"/></a>
        {{ end }}
        <br>
      {{ end }}
      {{ end }}
    </section>
    <section class="past-members">
      {{ if $.Site.Data.members.member}}
      <h3>Past members</h3>
      {{ range $.Site.Data.members.pastmember }}
         {{ .name }}
        {{if .linkedin}}
          <a href="https://www.linkedin.com/in/{{.linkedin}}"><img src="../images/in.png"/></a>
        {{ end }}
        {{if .researchgate}}
          <a href="https://www.researchgate.net/profile/{{.researchgate}}"><img src="../images/rg.png"/></a>
        {{ end }}
        {{if .chalmers}}
          <a href="https://www.chalmers.se/en/Staff/Pages/{{.chalmers}}.aspx"><img src="../images/chalmers_min.png"/></a>
        {{ end }}
        <br>
      {{ end }}
      {{ end }}
    </section>

  <footer class="post-footer">


    {{ partial "author.html" . }}

    {{ partial "share.html" . }}

    {{ partial "disqus.html" . }}

  </footer>
</article>

</main>

{{if not .Params.hideSuggestions }}
  {{ partial "suggestions.html" . }}
{{ end }}

{{ partial "footer.html" . }}
